{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  extends: ["eslint:recommended", "plugin:react/recommended"],
  ecmaFeatures: {
    modules: true,
  },
  "sourceType": "module",
  "ecmaVersion": 6,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "require-yield": 0
  }
}
