{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  extends: ["eslint:recommended", "plugin:react/recommended"],
  ecmaFeatures: {
    modules: true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true
  }
}
