textarea.essay
  width: 90%
  height: 15em

h2
  color: red

input.person-text
  margin: 1em

div.popover
  position: fixed !important
  z-index: 999999999 !important
  top: 0px !important
  left: 0px !important
  height: 100% !important
  width: 100% !important
  background: black
  opacity: .85
  color: white

div.hidden
  display: none

p.centered
  position: relative
  top: 50%
  transform: translateY(-50%)
  margin: auto
  width: 85%
